<nav class="nav">
  <a routerLink="/">website.com</a>
  <img
    class="icon"
    src="assets/images/icons/menu.png"
    (click)="displayNavigationBar = !displayNavigationBar"
  />
  <ul *ngIf="displayNavigationBar" class="nav-list" @toggle>
    <li class="nav-item">
      <a routerLinkActive="active">Work</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active">Culture</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active">Careers</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" [routerLink]="['/']">Blog</a>
    </li>
    <li class="nav-item">
      <span class="button" [routerLink]="['/add-blog']">New Blog</span>
    </li>
  </ul>
</nav>
