
.container {
    padding: 4rem 25%;
}

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}

input[type='file'] {
    visibility: hidden;
    width: 0px;
}

.image-selection {
    margin-top: 1rem;
    display: flex;
    align-content: center;
}

.blog-image {
    height: 40px;
    width: 40px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}