<div class="container">
    <div class="box" *ngFor="let blog of blogs">
        <img class="blog-image" [src]="blog.imageUrl" alt="">
        <div class="description">
            <div class="top-info">
                <span class="category">{{ blog.category  }}</span>
                <div class="bullet"> </div>
                <time>{{ blog.postDate }}</time>
            </div>
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.body }}</p>
            <div class="author">
                <img class="avatar" [src]="blog.author.imageUrl" alt="">
                <div class="author-details">
                    <div class="name">{{ blog.author.name }}</div>
                    <div class="title">{{ blog.author.title }}</div>
                </div>
            </div>
        </div>
    </div>
</div>