<div @fade class="container">
  <div class="actions">
    <i class="fas fa-pencil icon" [routerLink]="['/edit-blog/' + blogId]"></i>
    <i class="fas fa-trash icon" (click)="deleteBlog(blog._id)"></i>
  </div>
  <div class="top-info">
    <span class="category">{{ blog?.category }}</span>
    <div class="bullet"></div>
    <time>{{ blog?.postDate | date: "mediumDate" }}</time>
  </div>
  <h1>{{ blog?.title }}</h1>
  <p>{{ blog?.description }}</p>
  <p class="innerHtml" [innerHtml]="blog?.body"></p>
  <article class="follow-me">
    <strong
      ><em
        >Follow pixelmatters on <a>Twitter</a>, <a>Facebook</a>,
        <a>LinkedIn</a> and <a>Instagram</a></em
      ></strong
    >
  </article>

  <article class="author">
    <img class="avatar" [src]="blog?.author.imageUrl" />
    <div class="author-details">
      <div class="name">{{ blog?.author.name }}</div>
      <div class="title">{{ blog?.author.title }}</div>
    </div>
    <div class="social-icons">
      <strong
        >Share
        <i class="fab fa-facebook brand-icon"></i>
        <i class="fab fa-twitter brand-icon"></i>
        <i class="fab fa-linkedin brand-icon"></i>
      </strong>
    </div>
  </article>
</div>
