.container {
    padding: 4rem 25%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    cursor: pointer;
}

.top-info {
    margin-bottom: 1.5rem;
    margin-top: 15px;
}

.fas {
    position: relative;
    z-index: 5;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.fa-pen:hover .edit {
    visibility: visible;
}

.fa-trash:hover .delete {
    visibility: visible;
}

.category {
    font-weight: bold;
}

span, p {
    line-height: 1.5;
}

::ng-deep .innerHtml li {
    margin-top: 2rem;
}

article {
    margin-top: 5rem;
}

.social-icons {
    display: flex;
    margin: 0 0 0 auto;
}

.fab {
    margin-left: 10px;
}

.fas {
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 5%;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: auto;
    }
}